.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/london/clapham_common/topographicAreaPedestrian.cpg
/data/london/clapham_common/topographicAreaPedestrian.dbf
/data/london/clapham_common/topographicAreaPedestrian.prj
/data/london/clapham_common/topographicAreaPedestrian.shp
/data/london/clapham_common/topographicAreaPedestrian.shx
/data/london/clapham_common/topographicAreaVehicle.cpg
/data/london/clapham_common/topographicAreaVehicle.dbf
/data/london/clapham_common/topographicAreaVehicle.prj
/data/london/clapham_common/topographicAreaVehicle.shp
/data/london/clapham_common/topographicAreaVehicle.shx
